* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 200vh;
  background-color: rgb(92, 106, 77);
}
nav {
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: .3s;
  padding: 3px;
  border-radius: 5px;
  font-size: 2rem;
}

nav ul li a:hover {
  /* text-decoration: underline; */
  background-color: rgba(212, 210, 210, 0.256);
}

.homescreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.homescreen h1 {
  font-size: 5rem;
  color: white;
  padding-bottom: 50px;
}

.homescreen p {
  font-size: calc(1rem + 1vw);
  color: white;
}

.homescreen .first {
  padding-bottom: 50px;
}