:root {
  --noir: #210124;
  --vert: #b4dc7f;
  --blanc: #e8e9f3;
  --brun: #955E42;
  --sec-vert: #285943;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--sec-vert);
  color: var(--blanc);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--blanc);
}

nav ul li a {
  color: var(--noir);
  text-decoration: none;
  padding: 0.25rem 1rem;
  border: 1px solid var(--noir);
  border-radius: 9999px;
}

nav ul li a:hover {
  background-color: var(--vert);
  box-shadow: -4px 3px 0px 0px var(--noir);
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
nav {
  position: fixed;
  left: 50%; /* center the nav */
  top: 2%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

header {
  height: 100vh;
  position: relative;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--noir);
  font-size: 3rem;
}

header h1 .green {
  background: linear-gradient(to bottom, var(--blanc) 49.9%, var(--vert) 50%);
}

section#produit {
  height: 100vh;
  background: url(./images/blob-scene-png.png) no-repeat fixed center/cover;
}

